# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
C-Learning/URI/1009/tempCodeRunnerFile.c
C-Learning/Aulas/Aula07/ex01/fibonacci/gustavo.c
C-Learning/Aulas/Aula07/ex01/fibonacci/eliezer.c
C-Learning/N1/ex6/tempCodeRunnerFile.c
C-Learning/.vscode/launch.json
C-Learning/.vscode/settings.json
C-Learning/.vscode/tasks.json
C-Learning/Aulas/.vscode/launch.json
C-Learning/Aulas/.vscode/settings.json
C-Learning/Aulas/.vscode/tasks.json
